/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: #9b9b9b;
}


/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/heroImage.jpeg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


#contact {
    padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #660000;
}
.servicesText:hover {
    border: 1px solid #660000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}

.fa-eye {
    color: black}

.fa-free-code-camp:hover,.fa-github:hover,.fa-linkedin:hover, .fa-eye:hover {
    color: #660000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #9b9b9b;
    text-align: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
}

.text-center > a {
    background-color: #000000;
}

.text-center > a:hover {
    background-color: #660000;
}
